@keyframes blink-warning {
70% {
    color: white;
}

to {
    color: white;
    background-color: orange;
}
}

@keyframes blink-critical {
70% {
    color: white;
}

to {
    color: white;
    background-color: red;
}
}

*{
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    all: initial;
    padding: 0;
    min-height: 10px;
    font-size: 14px;
}

#waybar {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to top, rgba(40, 20, 40, 0.4), rgba(80, 40, 120, 0.8));
    color: white;
    text-shadow: 3px 3px 3px rgba(00, 00, 00, 0.6);

    border-style: none;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
}

#tray,
#pulseaudio,
#backlight,
#network,
#memory,
#cpu,
#temperature,
#battery,
#custom-hardware,
#clock
{
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 1px rgba(00, 00, 00, 0.5);
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
}

#workspaces {
    color: #fff;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

#workspaces *{
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

#workspaces button {
    background-image: linear-gradient(to top, rgba(50, 70, 110, 0.6), rgba(120, 170, 250, 0.9));
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;
}

#workspaces button:hover {
    background-image: linear-gradient(to top, rgba(100, 140, 200, 0.6), rgba(170, 210, 250, 0.9));
}

#workspaces button.active {
    background-image: linear-gradient(to top, rgba(180, 40, 60, 0.6), rgba(255, 90, 120, 0.9));
}

#taskbar{
    color: #fff;
    background: rgba(00, 00, 00, 0.0);
    border-radius: 10%;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 10px;
}

#taskbar button{
    background-image: linear-gradient(to top, rgba(50, 70, 110, 0.3), rgba(120, 170, 250, 0.5));
    border-radius: 10%;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

#taskbar button.active{
    background-image: linear-gradient(to top, rgba(50, 70, 110, 0.6), rgba(120, 170, 250, 0.9));
}

tooltip {
    border-radius: 5px;
    background-image: linear-gradient(to top, rgba(80, 50, 110, 0.9), rgba(70, 50, 100, 0.8), rgba(80, 50, 110, 0.9));
    padding: 4px;

    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.15);
    border-top-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-radius: 5px;
}

tooltip label {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9);
}

#tray *{
    margin-right: 2px;
    margin-left: 2px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9);
}

#tray menu {
    background-image: linear-gradient(to top, rgba(60, 40, 80, 0.9), rgba(40, 40, 40, 0.8), rgba(60, 40, 80, 0.9));
    padding: 4px;

    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.15);
    border-top-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-radius: 5px;
}

#tray menu menuitem {
    margin-top: 5px;

    border: 1px solid rgb(100, 114, 125);
    border-radius: 5px;
    /* background-image: linear-gradient(to top, rgba(100, 50, 150, 0.9), rgba(70, 30, 100, 0.8), rgba(100, 50, 150, 0.9)); */
    background-image: linear-gradient(to top, rgba(80, 50, 110, 0.9), rgba(70, 50, 100, 0.8), rgba(80, 50, 110, 0.9));

    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.15);
    border-top-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
}

#tray menu menuitem:hover {
    background-image: linear-gradient(to top, rgba(0, 255, 255, 0.2), rgba(0, 50, 50, 0.3), rgba(0, 255, 255, 0.2));
}

#network.disconnected {
    color: orange;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#temperature.critical {
    color: red;
}

#custom-hardware{
    margin-right: 6px;
}

#custom-taskbarhide{
    background-image: linear-gradient(to top, rgba(50, 70, 110, 0.6), rgba(120, 170, 250, 0.9));
    padding-left: 8px;
    padding-right: 9px;
    margin-left: 2px;
    border-radius: 2px;
    text-shadow: 3px 3px 3px rgba(00, 00, 00, 0.9);
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}
