* {
    font-family: Noto Sans;
    color: #ffffff;
    all: initial;
    background: transparent;
}

#window {
    margin: auto;

    border-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.15);
    border-top-color: rgba(255, 255, 255, 0.3);
    border-width: 2px;
    border-radius: 15px;
}

#input *{
    padding: 12px;
}

#input {
    margin: 8px;
    background-image: linear-gradient(to top, rgba(50, 50, 50, 0.5), rgba(30, 30, 30, 0.5), rgba(50, 50, 50, 0.5));
    box-shadow: inset 0px -5px 8px rgba(0, 0, 0, 0.4);

    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}

#outer-box {
    box-shadow: inset 2px 2px 12px rgba(0, 0, 0, 0.8);
    /* background-image: linear-gradient(to top, rgba(80, 40, 120, 0.15), rgba(80, 40, 120, 0.1), rgba(80, 40, 120, 0.15)); */
    background-image: linear-gradient(to top, rgba(16, 16, 16, 0.15), rgba(8, 8, 8, 0.15), rgba(0, 0, 0, 0.15));

    border-radius: 15px;
}

#inner-box {
    padding: 0px;
}

#entry *{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9);
    padding: 0px;
}

#entry {
    padding: 4px;
    margin: 4px;
    margin-left: 8px;
    margin-right: 8px;
    background-image: linear-gradient(to top, rgba(40, 20, 60, 0.1), rgba(55, 30, 80, 0.3), rgba(80, 40, 120, 0.4));
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);

    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.01);
    border-bottom-color: rgba(255, 255, 255, 0.15);
    border-top-color: rgba(255, 255, 255, 0.15);
    border-right-color: rgba(255, 255, 255, 0.15);
    border-left-color: rgba(255, 255, 255, 0.15);
}

#entry:selected {
    /* background-image: linear-gradient(to bottom, rgba(0, 255, 255, 0.3)0%, rgba(20, 20, 20, 0.2)100%, rgba(0, 0, 0, 0.3)50%); */
    background-image: linear-gradient(to top, rgba(40, 40, 80, 0.1), rgba(55, 130, 180, 0.3), rgba(20, 220, 220, 0.4));
    outline: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

#img {
    margin-right: 6px;
}

#text {
    margin: 2px;
}
